/*Fonts here 
font-family: 'Outfit', sans-serif;
*/

@media screen and (min-width: 1440px) {
  .background-main {
    margin-top: 100px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    background-color: white;
    border-radius: 15px;
    grid-template-columns: 22rem;

    width: 22rem;
    justify-content: center;
    align-items: center;
  }
  .grid-img {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .img-size {
    margin-top: 20px;
    width: 300px;
    border-radius: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .grid-text-header {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
  }

  .grid-text-body {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
  }
  .attribution {
    margin-top: 23rem;
    text-align: center;
  }
}

@media screen and (min-width: 375px) and (max-width: 1439px) {
  .background-main {
    margin-top: 75px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .grid-container {
    display: grid;
    background-color: white;
    border-radius: 15px;
    grid-template-columns: 15rem;

    width: 15.55rem;
    justify-content: center;
    align-items: center;
  }
  .grid-img {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .img-size {
    margin-top: 20px;
    width: 200px;
    border-radius: 15px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .grid-text-header {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 0.5rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
  }

  .grid-text-body {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
  }
  .attribution {
    font-size: 0.8rem;
    margin-top: 40rem;
    text-align: center;
  }
}
